.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 40%;
}


.align{
    margin-left: 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 30px;
    width: 15%;
    flex-shrink: 1;
    height: 90vh;
}
.mleft{
    display: none;
}
@media screen and (max-width:768px) {
    .mleft{
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 10%;
    height: 20%;}
    .left{
        display: none;
        
    }
}